.titre{
    font-size: 25px;
    text-transform: uppercase;
    background: cadetblue;
    color: rgb(238, 238, 238);
    border-radius: 4px;
    padding: 20px 0px;
    margin-top: 10px;
}
.far{
    color: cadetblue;
    margin:0px 10px;
    cursor: pointer;
}
th{
    font-size: 18px;
}
td{
    font-size: 17px;
}